@model IEnumerable<Order> 
@{
    ViewData["Title"] = "Index";
    int count = (ViewBag.PageIndex - 1) * 5;
}
<div class="row mb-5 mt-5 align-items-center">
    <div class="col-lg-2 h3 text-gray-800">
        <h1 class="h3 my-0 text-gray-800">Orders</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 dataTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Total</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Setting</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order order in Model)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@order.AppUser.FullName</td>
                        <td>@order.OrderItems.Sum(o => o.TotalPrice)</td>
                        <td>@order.Status</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Detail" asp-route-page="@ViewBag.PageIndex" asp-route-id="@order.Id">Detail</a>
                            <a class="btn btn-warning" asp-action="Update" asp-route-page="@ViewBag.PageIndex" asp-route-id="@order.Id">Update</a>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-12 d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            @if (ViewBag.PageIndex > 1)
            {
                <li class="page-item">
                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="1" aria-label="Previous">
                        @("<<")
                    </a>
                </li>
                <li class="page-item">
                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@(ViewBag.PageIndex-1)" aria-label="Previous">
                        @("<")
                    </a>
                </li>
                @if (ViewBag.PageIndex == ViewBag.PageCount && ViewBag.PageIndex > 2)
                {
                    <li class="page-item"><a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex-2)">@(ViewBag.PageIndex-2)</a></li>
                }
                <li class="page-item"><a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)">@(ViewBag.PageIndex-1)</a></li>
            }

            <li class="page-item active"><a style="background-color: #AE845F; border: 1px solid #AE845F" class="page-link text-white" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@ViewBag.PageIndex">@ViewBag.PageIndex</a></li>

            @if (ViewBag.PageIndex < ViewBag.PageCount)
            {
                <li class="page-item">
                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex + 1)">@(ViewBag.PageIndex + 1)</a>
                </li>
                @if (ViewBag.PageIndex == 1 && (ViewBag.PageIndex + 2) < ViewBag.PageCount)
                {
                    <li class="page-item">
                        <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex+2)">@(ViewBag.PageIndex+2)</a>
                    </li>
                }
                <li class="page-item">
                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-route-page="@(ViewBag.PageIndex + 1)" aria-label="Next">
                        @(">")
                    </a>
                </li>
                <li class="page-item">
                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@ViewBag.PageCount" aria-label="Next">
                        @(">>")
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>