@model HomeVM
@{
    ViewData["Title"] = "Index";
}


<!-- Main start -->
<main id="main">
    <!-- Home Slider Start-->
    <section class="single-item">
        @foreach (Slider slider in Model.Sliders)
        {
            <div class="slider">
                <img src="~/assets/img/slider/@slider.Image" alt="">
                <div class="slider-content">
                    <span>@slider.Title</span>
                    <h1>@slider.Description</h1>
                    <a asp-controller="Shop" asp-action="Index">PRE - ORDER NOW</a>
                </div>
            </div>
        }
    </section>
    <!-- Home Slider End -->
    <!-- Category-Banner Start -->
    <section class="category-banner">
        <div class="container-fluid">
            <div class="row">
                @foreach (CategoryBanner categoryBanner in Model.CategoryBanners)
                {
                    <div class="col-lg-4 box">
                        <a asp-controller="Shop" asp-action="Index">
                            <div class="img">
                                <img src="~/assets/img/category-banner/@categoryBanner.Image" alt="">
                            </div>
                            <div class="content">
                                <h2>@categoryBanner.Title <span></span></h2>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Category-Banner End -->
    <!-- Trending start -->
    <section class="trending">
        <div class="container">
            <div class="title">
                <h1>Trending Now</h1>
                <p>We are happy to introduce the new Lawson Collection. These are three quartz models designed with simplicity and elegance kept in mind.</p>
            </div>
            <div class="row">
                @foreach (Product product in Model.Products.TakeLast(3))
                {
                    <div class="col-lg-4">
                        <div class="product-box">
                            <div class="top">
                                <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                    <div class="img">
                                        <img class="image" src="~/assets/img/product/@product.MainImage" alt="">
                                        <img class="hover-image" src="~/assets/img/product/@product.HoverImage" alt="">
                                    </div>
                                </a>
                                <div class="shop-info">
                                    @if (product.DiscountPrice > 0)
                                    {
                                        <span class="discount">@((((product.Price - product.DiscountPrice) * 100) / product.Price).ToString("0"))%</span>
                                    }
                                </div>
                                <div class="action">
                                    <div class="wishlist"><a class="addordeletewishlist" asp-controller="Wishlist" asp-action="AddOrDeleteWishlist" asp-route-id="@product.Id"><i class="bi bi-heart"></i></a></div>
                                    <div class="modal-quick"><a class="productdetail" asp-controller="Home" asp-action="DetailModal" asp-route-id="@product.Id"><i class="bi bi-eye"></i></a></div>
                                </div>
                                <div class="cart-box">
                                    <div class="add">
                                        <a class="add-cart addToBasket" asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@product.Id">ADD TO CART</a>
                                    </div>
                                    <div class="add-or-view d-none">
                                        <a class="add-btn addToBasket" asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@product.Id">ADD TO CART</a>
                                        <a class="view-btn" href="#">VIEW CART</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="category">
                                    <a class="category-name" href="">@product.Category.Name</a>
                                </div>
                                <a class="product-name" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">@product.Title</a>
                                <div class="price-box">
                                    @if (product.DiscountPrice > 0)
                                    {
                                        <span class="line-price">$@product.DiscountPrice.ToString("0.00")</span>
                                        <span class="price">$@product.Price.ToString("0.00")</span>
                                    }
                                    else
                                    {
                                        <span class="line-price">$@product.Price.ToString("0.00")</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Trending end -->
    <!-- Banner start -->
    @foreach (Banner banner in Model.Banners)
    {
        <section class="banner">
            <img src="~/assets/img/banner/@banner.Image" alt="">
            <div class="content">
                <h4>@banner.Title</h4>
                <h1>@banner.SubTitle</h1>
                <a asp-controller="Shop" asp-action="Index">SHOP NEW COLLECTION</a>
            </div>
        </section>
    }
    <!-- Banner end -->
    <!-- Feature Product start -->
    <section class="feature">
        <div class="container">
            <div class="title">
                <h1>Feature Product</h1>
                <p>We are happy to introduce the new Lawson Collection. These are three quartz models designed with simplicity and elegance kept in mind.</p>
            </div>
            <div class="row">
                @foreach (Product featureProduct in Model.Products.Where(p => p.IsFeatured).Take(4))
                {
                    <div class="col-lg-3">
                        <div class="product-box">
                            <div class="top">
                                <a asp-controller="Product" asp-action="Index" asp-route-id="@featureProduct.Id">
                                    <div class="img">
                                        <img class="image" src="~/assets/img/product/@featureProduct.MainImage" alt="">
                                        <img class="hover-image" src="~/assets/img/product/@featureProduct.HoverImage" alt="">
                                    </div>
                                </a>
                                <div class="shop-info">
                                    @if (featureProduct.DiscountPrice > 0)
                                    {
                                        <span class="discount">@((((featureProduct.Price - featureProduct.DiscountPrice) * 100) / featureProduct.Price).ToString("0"))%</span>
                                    }
                                </div>
                                <div class="action">
                                    <div class="wishlist"><a class="addordeletewishlist" asp-controller="Wishlist" asp-action="AddOrDeleteWishlist" asp-route-id="@featureProduct.Id"><i class="bi bi-heart"></i></a></div>
                                    <div class="modal-quick"><a class="productdetail" asp-controller="Home" asp-action="DetailModal" asp-route-id="@featureProduct.Id"><i class="bi bi-eye"></i></a></div>
                                </div>
                                <div class="cart-box">
                                    <div class="add">
                                        <a class="add-cart addToBasket" asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@featureProduct.Id">ADD TO CART</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="category">
                                    <a class="category-name" href="">@featureProduct.Category.Name</a>
                                </div>
                                <a class="product-name" asp-controller="Product" asp-action="Index" asp-route-id="@featureProduct.Id">@featureProduct.Title</a>
                                <div class="price-box">
                                    @if (featureProduct.DiscountPrice > 0)
                                    {
                                        <span class="line-price">$@featureProduct.DiscountPrice.ToString("0.00")</span>
                                        <span class="price">$@featureProduct.Price.ToString("0.00")</span>
                                    }
                                    else
                                    {
                                        <span class="line-price">$@featureProduct.Price.ToString("0.00")</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Feature Product end -->
    <!-- Product-Promo start -->
    <section class="product-promo">
        <div class="container">
            @foreach (ProductPromo promo in Model.ProductPromos)
            {
                <div class="row align-items-center">
                    <div class="col-lg-7 left">
                        <img src="~/assets/img/product-promo/@promo.Image" alt="">
                    </div>
                    <div class="col-lg-5 right">
                        <h1>@promo.Title</h1>
                        <p>@promo.Description</p>
                        <a asp-controller="Shop" asp-action="Index">SHOP THE LOOK</a>
                    </div>
                </div>
            }
        </div>
    </section>
    <!-- Product-Promo end -->
</main>
<!-- Main end -->