@model MemberProfileVM
@{
    ViewData["Title"] = "Profile";
    int orderCount = 0;
    int orderItemCount = 0;
}

<main id="main" class="mb-5">
    <!-- Breadcrumb start -->
    <section class="page-breadcrumb">
        <div class="content">
            <img src="~/assets/img/breadcrumb/banner.jpg" alt="">
            <div class="crumbcontent">
                <h1>My Account</h1>
                <div>
                    <a href="index.html">Home</a> <span>/</span> <span>My Account</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb end -->

    <div class="my-account-wrapper section-padding">
        <div class="container custom-container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- My Account Page Start -->
                    <div class="myaccount-page-wrapper">
                        <!-- My Account Tab Menu Start -->
                        <div id="tabs" class="row">
                            <div class="col-lg-3 col-md-4">
                                <ul class="myaccount-tab-menu nav">
                                    <li><a href="#dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                                    <li><a href="#orders"><i class="fa fa-cart-arrow-down"></i> Orders</a></li>
                                    <li><a href="#account-info"><i class="fa fa-user"></i> Account Details</a></li>
                                    <li><a id="logout" asp-action="Logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                                </ul>
                            </div>
                            <!-- My Account Tab Menu End -->
                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-9 col-md-8">
                                <div class="tab-content">
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane" id="dashboard">
                                        <div class="myaccount-content">
                                            <h3>Dashboard</h3>
                                            @foreach (var item in Model.Orders)
                                            {
                                                orderCount++;
                                                orderItemCount = 0;
                                            }
                                            <p class="text-black-50">Your Orders: @orderCount</p>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane" id="orders">
                                        <div class="myaccount-content">
                                            <h3>Orders</h3>
                                            <div class="myaccount-table table-responsive text-center">
                                                <table class="table table-bordered">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Fullname</th>
                                                            <th>Order Count</th>
                                                            <th>Order Total Price</th>
                                                            <th>Order Date</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Orders.OrderByDescending(o => o.CreatedAt))
                                                        {
                                                            orderCount++;
                                                            orderItemCount = 0;
                                                            <tr data-toggle="collapse" data-target="#demo@(orderCount)" class="accordion-toggle">
                                                                <td>@orderCount</td>
                                                                <td>@item.AppUser.FullName</td>
                                                                <td>@item.OrderItems.Count()</td>
                                                                <td>@item.OrderItems.Sum(o => o.TotalPrice)</td>
                                                                <td>@item.CreatedAt?.ToString("MMMM dd, yyyy")</td>
                                                                <td>@item.Status</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="12" class="hiddenRow">
                                                                    <div class="accordian-body collapse" id="demo@(orderCount)">
                                                                        <table class="table table-striped">
                                                                            <thead>
                                                                                <tr class="info">
                                                                                    <th>#</th>
                                                                                    <th>Product Name</th>
                                                                                    <th>Product Count</th>
                                                                                    <th>Total Price</th>
                                                                                    <th>Price</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @foreach (var orderItem in item.OrderItems)
                                                                                {
                                                                                    orderItemCount++;
                                                                                    <tr data-toggle="collapse" class="accordion-toggle">
                                                                                        <td>@orderItemCount</td>
                                                                                        <td>@orderItem.Product.Title</td>
                                                                                        <td>@orderItem.Count</td>
                                                                                        <td>@orderItem.Price</td>
                                                                                        <td>@orderItem.TotalPrice</td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane" id="account-info" role="tabpanel">
                                        <div class="myaccount-content">
                                            @await Html.PartialAsync("_ProfileFormPartial", Model.Member)
                                        </div>
                                    </div> <!-- Single Tab Content End -->
                                </div>
                            </div> <!-- My Account Tab Content End -->
                        </div>
                    </div> <!-- My Account Page End -->
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{ 
<script>
    var a = document.getElementById("logout")
    a.addEventListener("click", function (e) {
        e.preventDefault()
    fetch("/account/logout")
    .then(res=>location.reload(true))
    })
</script>
}