@model IEnumerable<Product>

@foreach (Product product in Model)
{
    <div class="col-lg-4">
        <div class="product-box">
            <div class="top">
                <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                    <div class="img">
                        <img class="image" src="~/assets/img/product/@product.MainImage" alt="">
                        <img class="hover-image" src="~/assets/img/product/@product.HoverImage" alt="">
                    </div>
                </a>
                <div class="shop-info">
                    @if (product.DiscountPrice > 0)
                    {
                        <span class="discount">@((((product.Price - product.DiscountPrice) * 100) / product.Price).ToString("0"))%</span>
                    }
                </div>
                <div class="action">
                    <div class="wishlist"><a class="addordeletewishlist" asp-controller="Wishlist" asp-action="AddOrDeleteWishlist" asp-route-id="@product.Id"><i class="bi bi-heart"></i></a></div>
                    <div class="modal-quick"><a class="productdetail" asp-controller="Home" asp-action="DetailModal" asp-route-id="@product.Id"><i class="bi bi-eye"></i></a></div>
                </div>
                <div class="cart-box">
                    <div class="add">
                        <a class="add-cart addToBasket" asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@product.Id">ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="category">
                    <a asp-controller="Shop" class="category-name shopFilter shop-list category" data-id="@product.Category.Id">@product.Category.Name</a>
                </div>
                <a class="product-name" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">@product.Title</a>
                <div class="price-box">
                    @if (product.DiscountPrice > 0)
                    {
                        <span class="line-price">$@product.DiscountPrice.ToString("0.00")</span>
                        <span class="price">$@product.Price.ToString("0.00")</span>
                    }
                    else
                    {
                        <span class="line-price">$@product.Price.ToString("0.00")</span>
                    }
                </div>
            </div>
        </div>
    </div>
}