@model Product
@{
    ViewData["Title"] = "Index";
}

<main id="main">
    <div class="container">
        <div class="product">
            <div class="row">
                <div class="col-lg-6 pro-slider">
                    <div class="product-large-slider">
                        @foreach (ProductImage product in Model.ProductImages)
                        {
                            <div style="background-color: #fff;" class="pro-large-img img-zoom">
                                <img src="~/assets/img/product/@product.Image" alt="" />
                            </div>
                        }
                    </div>
                    <div class="pro-nav slick-row-5">
                        @foreach (ProductImage productImage in Model.ProductImages)
                        {
                            <div class="pro-nav-thumb"><img src="~/assets/img/product/@productImage.Image" alt="" /></div>
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-content">
                        <div class="pro-bread"><a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="Shop" asp-action="GetByCategory" asp-route-id="@Model.Category.Id">@Model.Category.Name</a> / @Model.Title</div>
                        <h1 class="pro-name">@Model.Title</h1>
                        <div class="pro-price">
                            @if (Model.DiscountPrice > 0)
                            {
                                <span style="font-size: 23px; font-weight: 400; color: #AE845F;" class="line-price">$@Model.DiscountPrice.ToString("0.00")</span>
                                <span style="font-size: 20px; font-weight: 400; text-decoration: line-through; color: #7C7676;" class="price">$@Model.Price.ToString("0.00")</span>
                            }
                            else
                            {
                                <span style="font-size: 23px; font-weight: 400; color: #AE845F;" class="price">$@Model.Price.ToString("0.00")</span>
                            }
                        </div>
                        <p class="pro-desc">@Model.Description</p>
                        @if (Model.Availability == true)
                        {
                            <p class="availability">In Stock</p>
                        }
                        else
                        {
                            <p class="availability text-danger">Stock Out</p>
                        }
                        <div class="pro-qty-add">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <span class="dec qtybtn">-</span>
                                    <input id="productcount" type="text" value="1">
                                    <span class="inc qtybtn">+</span>
                                </div>
                            </div>
                            <a class="add-btn addbasketbtn" asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@Model.Id">ADD TO CART</a>
                        </div>
                        <a class="wishlist addordeletewishlist" asp-controller="Wishlist" asp-action="AddOrDeleteWishlist" asp-route-id="@Model.Id"><i class="bi bi-heart"></i>ADD TO WISHLIST</a>
                        <ul>
                            <li>Categories: <a asp-controller="Shop" asp-action="GetByCategory" asp-route-id="@Model.Category.Id">@Model.Category.Name</a></li>
                            <li>
                                Tags: @foreach (ProductTag productTag in Model.ProductTags)
                                {
                                    <a href="">@productTag.Tag.Name</a>
                                }
                            </li>
                            <li class="shared-icons">Share: <div id="share"></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="related">
            <h1>Related Products</h1>
            <div class="row">
                @foreach (Product rProduct in ViewBag.Products)
                {
                    <div class="col-lg-3">
                        <div class="product-box">
                            <div class="top">
                                <a asp-controller="Product" asp-action="Index" asp-route-id="@rProduct.Id">
                                    <div class="img">
                                        <img class="image" src="~/assets/img/product/@rProduct.MainImage" alt="">
                                        <img class="hover-image" src="~/assets/img/product/@rProduct.HoverImage" alt="">
                                    </div>
                                </a>
                                <div class="shop-info">
                                    @if (rProduct.DiscountPrice > 0)
                                    {
                                        <span class="discount">@((((rProduct.Price - rProduct.DiscountPrice) * 100) / rProduct.Price).ToString("0"))%</span>
                                    }
                                </div>
                                <div class="action">
                                    <div class="wishlist"><a class="addordeletewishlist" asp-controller="Wishlist" asp-action="AddOrDeleteWishlist" asp-route-id="@rProduct.Id"><i class="bi bi-heart"></i></a></div>
                                    <div class="modal-quick"><a class="productdetail" asp-controller="Home" asp-action="DetailModal" asp-route-id="@rProduct.Id"><i class="bi bi-eye"></i></a></div>
                                </div>
                                <div class="cart-box">
                                    <div class="add">
                                        <a class="add-cart addToBasket" asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@rProduct.Id">ADD TO CART</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="category">
                                    <a asp-controller="Shop" class="category-name shopFilter shop-list category" data-id="@rProduct.Category.Id">@rProduct.Category.Name</a>
                                </div>
                                <a class="product-name" asp-controller="Product" asp-action="Index" asp-route-id="@rProduct.Id">@rProduct.Title</a>
                                <div class="price-box">
                                    @if (rProduct.DiscountPrice > 0)
                                    {
                                        <span class="line-price">$@rProduct.DiscountPrice.ToString("0.00")</span>
                                        <span class="price">$@rProduct.Price.ToString("0.00")</span>
                                    }
                                    else
                                    {
                                        <span class="line-price">$@rProduct.Price.ToString("0.00")</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

@section Style{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui-slider@1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
}