@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<main id="main">
    <!-- Breadcrumb start -->
    <section class="page-breadcrumb">
        <div class="content">
            <img src="assets/img/breadcrumb/banner-shop.jpg" alt="">
            <div class="crumbcontent">
                <h1>Shop</h1>
                <div>
                    <a href="index.html">Home</a> <span>/</span> <span>shop</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb end -->

    <div class="container shop-section">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories">
                    <h4>Categories</h4>
                    <ul>
                        <li>
                            <a asp-controller="Shop" class="shopFilter shop-list category active-category" data-id="0">All</a>
                            <span>(@Model.Count())</span>
                        </li>
                        @foreach (Category category in ViewBag.Categories)
                        {
                            <li>
                                <a  asp-controller="Shop" class="shopFilter shop-list category" data-id="@category.Id">@category.Name</a>
                                <span>(@category.Products.Count())</span>
                            </li>
                        }
                    </ul>
                </div>
                <div class="price-range-wrap">
                    <h4>Price</h4>
                    <div class="price-range" data-min="20" data-max="1000"></div>
                    <div class="range-slider">
                        <form action="#">
                            <button class="filter-btn shopFilter">filter</button>
                            <div class="price-input">
                                <label for="amount">Price:</label>
                                <input type="text" id="amount">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tags">
                    <h4>Product tags</h4>
                    @foreach (Tag tag in ViewBag.Tags)
                    {
                        <a class="shopFilter shop-list tag"  data-id="@tag.Id">@tag.Name</a>
                    }
                </div>
            </div>
            <div class="col-lg-9">
                <div class="product-option">
                    <div class="available">
                        <span>There are <span class="count">@Model.Count() products</span> available</span>
                    </div>
                    <div class="filter">
                        <div class="show-product">
                            <p>Show</p>
                            <a class="shopFilter shop-list countby active-countby" data-id="1">12</a>
                            <a class="shopFilter shop-list countby" data-id="2">24</a>
                            <a class="shopFilter shop-list countby" data-id="3">All</a>
                        </div>
                        <div class="sorting">
                            <div class="product-sort">
                                <select class="sortby selectfilter" name="sortby">
                                    <option value="1" selected>Default Sort</option>
                                    <option value="2">AZ</option>
                                    <option value="3">ZA</option>
                                    <option value="4">New</option>
                                    <option value="5">Old</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row shop-products">
                    @await Html.PartialAsync("_ShopProductPartial", Model)
                </div>
                <div class="col-lg-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">

                            @if (ViewBag.PageIndex > 1)
                            {
                                <li class="page-item">
                                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="1" aria-label="Previous">
                                        @("<<")
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@(ViewBag.PageIndex-1)" aria-label="Previous">
                                        @("<")
                                    </a>
                                </li>
                                @if (ViewBag.PageIndex == ViewBag.PageCount && ViewBag.PageIndex > 2)
                                {
                                    <li class="page-item"><a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex-2)">@(ViewBag.PageIndex-2)</a></li>
                                }
                                <li class="page-item"><a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)">@(ViewBag.PageIndex-1)</a></li>
                            }

                            <li class="page-item active"><a style="background-color: #AE845F; border: 1px solid #AE845F" class="page-link text-white" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@ViewBag.PageIndex">@ViewBag.PageIndex</a></li>

                            @if (ViewBag.PageIndex < ViewBag.PageCount)
                            {
                                <li class="page-item">
                                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex + 1)">@(ViewBag.PageIndex + 1)</a>
                                </li>
                                @if (ViewBag.PageIndex == 1 && (ViewBag.PageIndex + 2) < ViewBag.PageCount)
                                {
                                    <li class="page-item">
                                        <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex+2)">@(ViewBag.PageIndex+2)</a>
                                    </li>
                                }
                                <li class="page-item">
                                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-route-page="@(ViewBag.PageIndex + 1)" aria-label="Next">
                                        @(">")
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a style="color: #AE845F; border: 1px solid #AE845F" class="page-link" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@ViewBag.PageCount" aria-label="Next">
                                        @(">>")
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>

@section Style{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui-slider@1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
}